$cWhite: white;
$cBlack: black;
$cPumpkin: #f97e12;
$cCafeNoir: #4d2c1f;
$cBgGray: #eaebe6;
$cWineRed: #904669;
$cLink: rgb(45, 183, 211);

// Spring
$cSpring: #ffa3d1;
$cSpring_sub: rgb(111, 234, 111);

// Summer
$cSummer: rgb(36, 177, 67);
$cSummer_sub: rgb(89, 92, 192);

// Rainy
$cRainy: rgb(236, 148, 236);
$cRainy_sub: rgb(111, 234, 111);

// Autumn
$cAutumn: #c1573c;
$cAutumn_sub: rgb(15, 221, 29);

// Winter
$cWinter: rgb(115, 105, 117);
$cWinter_sub: rgb(64, 191, 136);
